    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body{
    height: 100vh;
    width: 100vw;
    ;
}
.mouse-follwer{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: rgb(52, 145, 191);
    border-radius: 50%;
    transform: translate(-50%,-50%);
}