*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100vh;
    width: 100vw;
    background-color: rgb(135, 159, 198);
    padding: 25px;
    display: flex;
    gap: 20px;
}
.card{
    height: 300px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 10px 20px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}
.card img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.card h2{
    font-weight: 500;
    font-size: 26px;

}
.card p{
    font-size: 14px;
    color: gray;
    font-weight: 600;
    text-align: center;
}
.card button{
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    background-color: rgb(123, 221, 234);
    color: white;
    font-weight: 600;
    border: 2px solid rgb(123, 221, 234);
}
.card button:hover{
    background-color: black;
    cursor: pointer;
}